.detailsWrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.detailsItem {
  width: 300px;
  height: auto;
}

.detailsTitle {
  font-size: 20px;
  opacity: 0.6;
  text-align: center;
}

.detailsContent {
  font-size: 30px;
  margin-top: 1rem;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .detailsContent {
    font-size: 22px;
  }
  .detailsTitle {
    font-size: 15px;
  }
}
